@import url('../../../assets/css/main.css');

body {
  background-color: var(--medium-color) !important;
}

.contact-form-wrapper {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.contact-form {
  padding: 30px 40px;
  background-color: var(--light-color);
  border-radius: 6px;
  max-width: 400px;
  border: 1px solid var(--light-color);
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  background-color: var(--light-white);
  height: 50px;
  padding-left: 16px;
  border: 1px solid var(--light-color);
  border-radius: 6px;
}

.contact-form textarea {
  height: auto;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form button:focus {
  outline: none;
  
}

.contact-form input::placeholder,
.contact-form textarea::placeholder,
.contact-form button::placeholder {
  color: var(--medium-color);
  font-weight: 500;
  opacity: 1;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder,
.contact-form button:-ms-input-placeholder {
  color: var(--medium-color);
  font-weight: 500;
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder,
.contact-form button::-ms-input-placeholder {
  color: var(--medium-color);
  font-weight: 500;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: var(--medium-color);
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form button[type='submit'] {
  background-color: var(--accent-color);
  color: var(--dark-color);
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 16px;
}

.contact-form button[type='submit']:hover {
  background-color: var(--highlight-color) !important;
    color: var(--dark-color) !important;
    transform: translateY(-1px);
  border: none;
  }




.submit-button:hover {
  background-color: var(--highlight-color);
  transform: translateY(-1px);
  box-shadow: 0px 2px 4px var(--dark-color);
}
@media (max-width: 767px) {
  .contact-form {
  margin-top: 1.7em;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    margin-top: 1.7em;
  }
}